body, html {
  height: 100%;
  margin: 0;
}
.bg{
  background-image: url("background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}
div.first{
  text-align: center;
}
.title{
  font-size:72px;
  background-color: aliceblue;
}
.name{
  font-size: 20px;  
  color: #000000;
  border-style:inset;
  border-width: medium;
  border-color: hsl(208, 77%, 47%);
  text-decoration: none;  
  background-color: rgb(228, 159, 90);
}
.ipt{
  color:red;
  font-size: 25px;
}
.word{
  font-size: 35px;
}
.table1{
  text-align: center;
  background-color: blue;
  margin: auto;
  border: 1px solid;
  width: 60%;
}
.layer{
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  margin: 10px auto ;
  max-width: 900px;
}
h1{
  size: 75px;
}
h2{
  size: 42px;
}
/*h4{
  size: 35px;
}
*/
.myurl{
  text-decoration: none;
  color: black;
}
.myurl:hover{
  width: 100%;
  color: #008FFF;
  font-size: 50px;
}




.table2{
  text-align: center;
  background-color: blue;
  margin: auto;
  border: 1px solid;
  width: 60%;
}
.button {
  border: none;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  margin: 0px 0px;
  cursor: pointer;
}

.btn1 {
  background-color: #0cc984;
} 








.mhwibg{
  background-image: url("mhwibg.png");
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mhwi {
  margin: auto;
  position: relative;
  width: 1200px;
  height: 600px;
  overflow: hidden;
}
.mhwi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
  opacity: 0.8;
}

.story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 50px;
}

.mhwi:hover .story {
  opacity: 1;
}

.mhwi:hover img {
  transform: scale(1.1);
  opacity: 0.1;
}

.story h3 {
  font-size: 70px;
  margin: 0 0 10px 0;
}

.story p {
  font-size: 40px;
  margin: 0;
  text-align: center;
  max-width: 1000px;
}